<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Products</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <a href="create" class="btn btn-view">Add New Product</a>
    <h1>All Products</h1>
    <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; text-align: left;">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Brand</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (products.length > 0) { %>
          <% products.forEach((product, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= product.title %></td>
              <td><%= product.description %></td>
              <td><%= product.price %></td>
              <td><%= product.brand %></td>
              <td><%= product.quantity  %></td>
              <td>
                <a href="/api/admin/products/<%= product._id %>" class="btn btn-view">View</a>
                <form action="/api/admin/products/<%= product._id %>?_method=DELETE" method="DELETE" style="display: inline;">
                  <button type="submit" class="btn btn-delete">Delete</button>
                </form>
              </td>
            </tr>
          <% }); %>
        <% } else { %>
          <tr>
            <td colspan="7">No products found.</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
